
<div id="newsignup">
	
	<p><h1>THANK YOU for signing up !</h1>&nbsp;<br/></p>
	
	<div id="button-wrapper">
		<a href="/bottles/new"><div class="button left">
		&nbsp;<br/>&nbsp;<br/>I HAVE A BOTTLE, LET'S ADD IT !
	</div></a>
	<a href="/dashboard/buy">
	<div class="button">
		&nbsp;<br/>I DON'T HAVE A BOTTLE, LET'S BUY ONE !
	</div></a>
	</div>
</div>