body { background-color: #fff; color: #333; }

#bottle-login #help-arrow{
	width: 239px;
	height: 192px;
	background: url(/images/help-arrow.png);
	position: absolute;
	left: -250px;
	top: 100px;
}

#bottle-login #help-click{
	width: 234px;
	height: 220px;
	background: url(/images/help-click.png);
	position: absolute;
	left: 180px;
	top: 370px;
}

#bottle-login {
	width: 181px;
	height: 500px;
	background-image: url(/images/bottle.png);
	margin: auto;
	margin-top: 50px;
	position: relative;
}

#bottle-login form{
	position: relative;
	top: 250px;
	text-align: center;
}

#bottle-login form input[type=text] {
	width: 160px;
	height: 30px;
	text-align: center;
	font: 25px "Lucida Grande", Lucida, Verdana, sans-serif;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	border-style: hidden;
}

#bottle-login form input[type=submit] {
	
	margin-top: 20px;
	
	font:24px Calibri, Arial, sans-serif;

	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;
	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:10px 20px;
	
	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image:url('/images/button_bg.png');
	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 8px */
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
	
	width: 133px;
	height: 102px;
	color: #fbfdfd;
	border:1px solid #a5a5a5 !important;	
	background-color: #a9adb1;
	
	background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
	background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
	
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	
	
}

#bottle-login form input[type=submit]:hover {
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
	
	background-color:#b6bbc0;
	
	background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
	background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
	bottom: 100px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color: #00b9f9; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#holder {
    height: 480px;
    margin: auto;   
    width: 640px;
    position: relative;
	top: -80px;
}

#container{
	width: 1024px;
	margin: auto;
	margin-top: 20px;
}

#menu{
	margin-bottom: 80px;
}

#contentLeft{
	width: 400px;
	float: left;
}

#contentLeft img{
	-webkit-transition:-webkit-transform 2s;
-moz-transition: -moz-transform 2s;
transition: transform 2s;
}

#contentRight{
	width: 600px;
	float: left;
	font: bold 52px/10px 'Yanone Kaffeesatz', arial, serif;
}

#contentLeftStat{
	width: 600px;
	float: left;
}

#contentRightStat{
	width: 400px;
	float: left;
	font: bold 52px/52px 'Yanone Kaffeesatz', arial, serif;
}

#pourcentage{
margin-top: 0px;
margin-bottom: 0px;
}

#contentRight h1{
	font: bold 330px/50px 'Yanone Kaffeesatz', arial, serif;
	color: #37aeea;
	position: relative;
	top: -100px;
}

.textUp{
	position: relative;
	top: -250px;
}

#fullCol{
	width: 1000px;
	margin: auto;
	font: 52px 'Yanone Kaffeesatz', arial, serif;
}

#fullCol h3{
		font: 62px 'Yanone Kaffeesatz', arial, serif;
		margin: 0;
	clear: none;
	color: #00dffb;
	display: inline;
}

#logo{
	float: left;
	display: inline;
}

#menu {
	width:  1024px;
	clear: left;
}

#content{
	width: 1000px;
	clear: left;
}

#menu a.left{
	margin-left: 90px;
}

#menu a{
	margin-right: 30px;
}

.blue{
	color: #1197cd;
}

.green{
	color: #4acd70;
}

.orange{
	color: #ff9d00;
}