body { background-color: #fff; color: #333; 
margin: 0px;
padding: 0px;
	font: 13px arial;
}

/* @group new */

.container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	position: relative;
}

.logo{
	position: absolute;
	top: -40px;
	left: 40px;
}
form input[type=text], input[type=password], input[type=email]{
	border: 3px solid #92d22f;
	border-radius: 15px;
	width: 280px;

}

#splash_description {
	margin: 10px;
	padding: 30px;
	border-radius: 15px;
	border: 6px solid #05afea;
	overflow: auto;
	position: relative;
	
}

.container .suez-logo{
	position: absolute;
	bottom: -40px;
	right: -60px;
}

#summary{
	width: 100%;
	overflow: auto;
}
#summary div{
	float: left;
	margin-left: 30px;
	text-align: center;
}

#splash_description form input[type=text], input[type=password], input[type=email]{
	width: 195px;
	height: 20px;
	margin-bottom: 10px;
}

#splash_description form input[type=submit]{
	width: 75px;
	height: 30px;
	border-radius: 15px;
	background-color: #92d22f;
	border: 1px solid #92d22f;
	color: white;
	font-size: 13px;
	font-weight: bold;
}

#splash_description form input[type=submit]:hover{
		background-color: #05afea;
	border-color: #05afea;
}

#splash_description #left-col{
	width: 500px;
	float: left;
	margin-right: 50px;
}

a{
		text-decoration: none;
}

a div#signup{
	float: right;
	width: 115px;
	height: 30px;
	border-radius: 15px;
	background-color: #92d22f;
	border: 1px solid #92d22f;
	color: white;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

#signup:hover{
		background-color: #05afea;
	border-color: #05afea;
}

#splash_description #right-col{
	width: 200px;
	float: right;
}

#title {
	height: 70px;
	position: relative;
	padding-top: 5px;
	margin-top: 20px;
}

#title img{
	float: left;
}

#title form{
	height: 60px;
	display: inline;
	float: right;
}

form label{
	vertical-align: top;
	display: block;
	color: #3a3b3b;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

form label.inline{
	vertical-align: top;
	display: block;
	float: left;
	width: 150px;
	margin-top: 5px;
}

#title form input{
	vertical-align: bottom;

}

#title form input[type=text]{
		width: 120px;
		height: 17px;
}

#title form fieldset{
	float: left;
	border: 0;
}

#title form input[type=submit]{
	width: 98px;
	height: 28px;
	border-radius: 15px;
	background-color: #92d22f;
	border: 1px solid #92d22f;
	color: white;
	margin-top: 12px;
	font-size: 16px;
}

#title form input[type=submit]:hover{
	background-image: url(/images/connect_button_hover.png);
}

h1{
	color: #92d22f;
	font-size: 18px;
}

strong{
	color: #92d22f;
	font-weight: bold;
}

.signup-button{
	
	width: 260px;
	margin-left: 280px;	
}
/* @end */

#newsignup {
	width: 350px;
	height: 200px;
		margin: 100px;
		margin-right: auto;
		margin-left: auto;
	padding: 30px;
	border-radius: 15px;
	border: 6px solid #92d22f;
	overflow: auto;
	position: relative;
}

#button-wrapper{

	margin: auto;
	width: 320px;	
}

#newsignup .button{
	width: 120px;
	height: 80px;
		border-radius: 15px;
	border: 6px solid #92d22f;
	background-color: #92d22f;
	float: left;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

#newsignup .button:hover{
		border-radius: 15px;
	border: 6px solid #05afea;
	background-color: #05afea;

}

.left{
		margin-right: 30px;
		margin-left: 13px;

}

#bottle label{
	margin-top: 20px;
}

form #bottle input[type=submit]{
	width: 120px;
	margin-left: 230px;
}

#menu{
	position: absolute;
	top: 100px;
	right: -100px;
}

.item{
	width: 220px;
	height: 40px;
	border-radius: 15px;
	border: 6px solid #05afea;
	background-color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
}


.item:hover, item:active{
	border-color: #92d22f;
}

.item h1{
	text-transform: uppercase;
	color: #05afea;
	font-size: 12px;
	font-weight: bold;
	line-height: 6px;
}

.item:hover h1{
	color: #92d22f;
}

.item:active h1{
	color: #92d22f;
}

#dash-left{
	float: left;
	width: 420px;
}

#dash-right{
	float: left;
	margin-left: 60px;
}

#counter{
	width: 160px;
	height: 120px;
	border-radius: 85px;
	border: 6px solid #05afea;
		background-color: #05afea;
		padding-top: 40px;
	color: white;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
}

#logout{
	position: absolute;
	top: -20px;
	right: 10px;
}

#like{
	position: absolute;
	bottom: 10px;
	left: 45px;
}

#donate{
	width: 700px;
}

#map_canvas{
	height: 500px;
	width: 700px;
}