<h1>MAINSTREAM - every fill makes a difference</h1>

<p>Mainstream is a brand new concept by Suez Environnement. Instead of buying bottled water from the grocery stores, just purchase a Mainstream stainless steel bottle, and fill it up from Mainstream fountains around the city. You can choose from a variety of options, from plain water to flavored and bubble waters. No need for coins or cash, since the fountains recognize you and your bottle, and the fills will be billed afterwards.</p>
<p><center><a href="/videos/intro.mov" rel="video" title=""><%= image_tag "video.png" %></a></center></p>

<p><strong>By using Mainstream, you can:</strong><br/>
  <div id="summary">
  		<div>
  	<%= image_tag "money.png" %><br/>Save money
  </div>

	<div>
  	<%= image_tag "environment.png" %><br/>Save environment
  </div>

	<div>
  	<%= image_tag "donation.png" %><br/>Donate to charity
  </div>

</div>
</p>

<p>As you can see : <em><strong>every fill makes a difference!</strong></em></p>
   
